{% extends "templates/website_base.html" %}

{% block page_content %}
<div class="row" style="margin-top: 150px;">
    <div class="col-lg-9">
        <div class="tm-search-form tm-section-pad-2 card p-3">
            <div class="row mb-3">
                <div class="col">Contact Info</div>
            </div>
            <div class="form-row tm-search-form-row">
                <div class="form-group tm-form-element tm-form-element-2">
                    <input class="form-control" placeholder="Customer Name" value="{{invoice_details.get('customer_name') or ''}}"/>
                    <i class="fa fa-2x fa-user tm-form-element-icon"></i>
                </div>
                <div class="form-group tm-form-element tm-form-element-2">
                    <input class="form-control" placeholder="Email" value="{{invoice_details.get('customer_email') or ''}}"/>
                    <i class="fa fa-2x fa-envelope tm-form-element-icon"></i>
                </div>
        
                <div class="form-group tm-form-element tm-form-element-2">
                    <input class="form-control" placeholder="Phone Number" value="{{invoice_details.get('mobile_no') or ''}}" />
                    <i class="fa fa-2x fa-phone tm-form-element-icon"></i>
                </div>
        </div>
        </div>
        {% for hotel_rsv in invoice_details.get('rooms') %}
        <div class="reservation_details mt-4 card p-3">
            <div class="row">
                <div class="col-lg-4"><strong>{{invoice_details['rooms'][hotel_rsv]['details'].get('hotel_name')}}</strong></div>
            </div>
        {% for rsrv_room in invoice_details['rooms'][hotel_rsv]['rooms']%}
        <div class="p-3 tm-search-form tm-section-pad-2 mt-3">
            <div class="room-name mb-3">
                {{rsrv_room.get('room_name')}}
            </div>
            {% for adult in rsrv_room.get('adult_paxes') %}
            <div class="form-row tm-search-form-row">
                    <div class="form-group tm-form-element tm-form-element-2">
                        <select class="form-control  tm-select ">
                            <option value="">Salutation</option>
                            <option value="mr">Mr</option>
                            <option value="ms">Ms</option>
                        </select>
                        <i class="fa fa-2x fa-check tm-form-element-icon"></i>
                    </div>
        
                    <div class="form-group tm-form-element tm-form-element-50">
                        <input class="form-control" placeholder="Guest Name" value="{{adult.guest_name or ''}}" />
                        <i class="fa fa-2x fa-user tm-form-element-icon"></i>
                    </div>
            </div>
            {% endfor %}
            {% for child in rsrv_room.get('child_paxes') %}
            <div class="form-row tm-search-form-row">
                    <div class="form-group tm-form-element tm-form-element-2">
                        <label for="">Child Age {{child.guest_age}}</label>
                    </div>
        
                    <div class="form-group tm-form-element tm-form-element-50">
                        <input class="form-control" placeholder="Child Name" value="{{child.guest_name or ''}}"/>
                        <i class="fa fa-x fa-user tm-form-element-icon"></i>
                    </div>
            </div>
            {% endfor %}

            <div class="">
            Extras:
               <div class="list-group room-extra-list">
                <label class="list-group-item" >
                    <input class="form-check-input me-1" type="checkbox" value="">
                    Late check Out +20$
                    </label>
                    <label class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        Early Check In +0$
                    </label>
                    <label class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        Honeymoon +50$
                    </label>
                </div>
            </div>
        </div>
        {%endfor%}
        </div>
        {% endfor %}
        <div class="mt-4 " >
            <button onclick="confirmReservationButtonClicked(this)" style="font-size: .8em;" class="btn btn-primary tm-btn-search p-2">Continue</button>
        </div>
    </div>
    <div class="col-lg-3">
        {{session_expires_card(invoice_details.session_expires) }}
        {{ hotel_details_card() }}
        {{total_card(invoice_details.grand_total)}}        
    </div>
</div>
{% endblock %}

{% macro hotel_details_card() %}
<div class="card mt-3" style="width: 18rem;">
    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/ed/95/07/limak-eurasia-luxury.jpg?w=700&h=-1&s=1" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hotel Name</h5>
      <p class="card-text">
        <div>Check-in: Friday, 24 November 2023</div>
        <div>Check-out: Tuesday, 28 November 2023</div>
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Room1: Standard Double</li>
      <li class="list-group-item">Room2: Standard Single</li>
    </ul>
    <div class="card-body">
        Cancellation Policy: Cancellation after 2023-11-21 will be charged for 100% of booking amount.
    </div>
  </div>
{% endmacro %}

{% macro total_card(total_fees) %}
<div class="card text-dark bg-light mb-3 mt-3" style="max-width: 18rem; width: 100%;">
    <div class="card-header">Fees</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><div class="d-flex justify-content-between">
            <div><strong>Hotel fees</strong></div>
            <div><strong>USD 384.85</strong></div>
        </div></li>
        <li class="list-group-item"><div class="d-flex justify-content-between">
            <div><strong>Total fees</strong></div>
            <div><strong>USD {{total_fees}}</strong></div>
        </div></li>
      </ul>
  </div>
{% endmacro %}

{% macro session_expires_card(datetime) %}
  <div class="card text-white bg-primary mt-3">
    <div class="card-body">
        <strong>Session Expires in <span id="session-timer" datetime="{{datetime}}">00:00</span> <i class="fa fa-clock-o" aria-hidden="true"></i></strong>
    </div>
    
  </div>
{% endmacro %}