<!-- Main Navigation -->
      <nav class="main_nav">
          <div class="container">
              <div class="row">
                  <div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
                      <div class="logo_container">
                          <div class="logo">
                              <a href="/"><img src="{{get_website_setting('website_logo')}}"  width="90" alt /></a>
                          </div>
                      </div>
                      <div class="main_nav_container ml-auto">
                          <ul class="main_nav_list">
                              <li class="main_nav_item"><a href="{% if frappe.session.user == 'Guest'%}/{% else %}/home{% endif %}">Home</a></li>
                              <li class="main_nav_item"><a href="/about">About Us</a></li>
                              <li class="main_nav_item"><a href="/contact">Contact</a></li>
                          </ul>
                      </div>
                      <div class="content_search ml-lg-0 ml-auto">
                          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17px" height="17px"
                              viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                              <!-- ... (your SVG code) ... -->
                          </svg>
                      </div>
  
                      <form id="search_form" class="search_form bez_1">
                          <input type="search" class="search_content_input bez_1" />
                      </form>
  
                      <div class="hamburger">
                          <i class="fa fa-bars trans_200"></i>
                      </div>
                  </div>
              </div>
          </div>
      </nav>