{% extends "templates/website_base.html" %}

{% block page_content %}
<div class="content pt-4">
  <div class="row hotels-results">
    <div class="col-lg-3">
        <div class="filters-container card">

        </div>
    </div>
    <div class="col-lg-9">
        <div class="search-results">
            <div class="result-item card">
                <div class="row">
                <div class="col-md-3">
                    <div class="room-image">
                        <img src="/assets/tourism_portal/images/no-image.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="room-title mt-2">Deluex Super</div>
                    <div class="hotel-title">Taxim Express</div>
                </div>
                <div class="col-md-3">

                </div>
            </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row transfer-results">

  </div>
  <div class="row tour-resutls">

  </div>
</div>
{% endblock %}