{% extends "templates/website_base.html" %}

{% macro hotel_search_result(room, roomName, loopIndex) %}
<div class="result-item room-result-item mt-3 card" >
    <div class="row">
    <div class="col-md-3">
        <div class="room-image">
            {% if room.get('room_image')%}
            <img src="{{room.get('room_image')}}" alt="">
            {%else%}
            <img src="/assets/tourism_portal/images/no-image.jpg" alt="">
            {% endif %}
        </div>
    </div>
    <div class="col-md-6 room-detail-container">
        <div class="">
            <div class="room-title mt-2">{{room.get('hotel_name')}}</div>
        <div class="hotel-title">{{room.get('room_type')}}</div>
        <div class="room-details">
            <div class="room-details-item"><div class="badge badge-primary">Non Refundable</div></div>
            <div class="room-details-item">Full Board</div>
            <div class="room-details-item">Sea View</div>
        </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-flex justify-content-center align-items-center flex-column h-100" onclick="roomSelected(this)">
            {% if room.get('price')%}
            <div class="room-total"><span class="room-total-nights">{{room.get('price')[1]}} Nights</span><span class="room-total-price">{{room.get('price')[0]}} USD</span></div>
            <div class="room-price mt-1">(Per Room 500USD)</div>
            {% else %}
            
            {% endif %}
            <div class="container ask-button-container" {%if room.get('price') or room.get('qty') %} style="display: none;" {%endif%}>
                <button onclick="confirmButtonClicked(this)" style="font-size: .8em;" class="btn btn-primary tm-btn-search p-2">Ask for availability</button>
            </div>
            <!-- <div class="room-count mt-2">3 Rooms</div> -->
            <label class="room-available-label">Available 0</label>
            <input class="form-control mt-2" {% if loopIndex==1 %} checked="checked" {% endif %} type="radio" 
            data-value="{{room.get('room_id')}}" name="{{roomName}}" contract-id="{{room.contract_id}}" room-qty="{{room.qty}}"/>
        </div>
    </div>
</div>
</div>
{% endmacro %}

{% block page_content %}
<script>
    var searchResults = `{{rooms}}`
    searchResults = JSON.parse(searchResults);
</script>
<div class="row pt-4 ">
<div class="content col-lg-9">
  <div class="row hotels-results">
    
    <div class="col">
        <div class="search-results">
            {# 
            {% for search in rooms %}
                {% for hotel in search %}
                    {% for roomName in search[hotel] %}
                    {{ roomName }}
                        <div class="available-rooms">
                        {% for room in search[hotel][roomName]%}
                            {{hotel_search_result(room, roomName, loop.index)}}
                        {% endfor %}
                    </div>
                    {%endfor %}
                {% endfor %}
            {% endfor %}
            #}
        </div>
    </div>
  </div>
  <div class="row transfer-results">
    {% if transfers %}
        <div class="col-12"><strong>Transfers</strong></div>
    {%endif%}
    {% for search in transfers%}
        <div class=" row transfer-search" transfer-search="{{search}}">
        {% for transfer in transfers[search] %}
            {{transfer_card(transfers[search][transfer], transfer)}}
        {%endfor%}
        </div>
    {% endfor %}
  </div>
  <div class="row tour-resutls">
    {% if tours %}
        <div class="col-12"><strong>Tours</strong></div>
    {%endif%}
        <div class="col-12">
            {% for search in tours%}
                <div class="row tour-search-card" tour-search="{{search}}">
                {% set packages = [] %}
                {% for tour in tours[search]%}
                    {% if tour['tour_type'] == 'vip'%}
                            {{vip_tour_card(tour, search)}}
                    {% else %}
                        {% set packages = packages.append(tour) %}
                            
                    {% endif %}
            {% endfor %}
            {{package_tour_card(packages) }}
            </div>
            {% endfor %}
        </div>
  </div>
</div>
 <div class="col-lg-3">
        <div class="filters-container mt-3 card">
            <div class="price-summary">
                <div class="price-total-calculator">
                    <table>
                        <tr><td>Hotels:</td><td><span class="hotels-total">0 USD</span></td></tr>
                        <tr><td>Transfers:</td><td><span class="transfers-total">0 USD</span></td></tr>
                        <tr><td>Tours:</td><td><span class="tours-total">0 USD</span></td></tr>
                        <tr><td>Total:</td><td><span class="grand-total-container">0 USD</span></td></tr>
                    </table>
                </div>
                <div class="confirm-button-continer">
                    <button onclick="confirmButtonClicked(this)" class="btn btn-primary tm-btn-search">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="hotel-room-results-template">
    <div class="card">
        <div class="card-header" id="{Hotel ID}-header">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#{Hotel ID}" 
            aria-expanded="true" aria-controls="{Hotel ID}">
                {Hotel ID}
            </button>
          </h5>
        </div>
    
        <div id="{Hotel ID}" class="collapse" aria-labelledby="{Hotel ID}-header" data-parent="#accordion">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      
</script>
<script type="text/template" id="room-result-item-template">
    <div class="result-item room-result-item mt-3 card" >
        <div class="row">
        <div class="col-md-3">
            <div class="room-image">
                <img src="{Room Image}" alt="">
            </div>
        </div>
        <div class="col-md-6 room-detail-container">
            <div class="">
                <div class="hotel-title mt-2">{Hotel Name}</div>
            <div class="room-title">{Room Type} <span class="pax-image"><img src="{PAX IMAGE}"/></span></div>
            <div class="room-details">
                <div class="room-details-item"><div class="badge badge-primary">Non Refundable</div></div>
                <div class="room-details-item">Full Board</div>
                <div class="room-details-item">Sea View</div>
            </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex justify-content-center align-items-center flex-column h-100" >
                <!-- if room.get('price') -->
                <div class="room-price-container">
                <div class="room-total"><span class="room-total-nights">{Nights} Nights</span><span class="room-total-price">{Room Price}</span></div>
                <!-- <div class="room-price mt-1">(Per Room 500USD)</div> -->
                </div>
               <!--  -->
               <!-- {#if room.get('price') or room.get('qty') %} style="display: none;" {%endif #} -->
                <div class="container ask-button-container" >
                    <button onclick="askButtonClicked(this)" style="font-size: .8em;" class="btn btn-primary tm-btn-search p-2">Ask for availability</button>
                </div>
                <!-- <div class="room-count mt-2">3 Rooms</div> -->
                <label class="room-available-label">{Available QTY}</label>
            </div>
        </div>
    </div>
    </div>
</script>

{% endblock %}

{%macro transfer_card(transfer, transferName)%}
    <div class="card m-2 transfer-card" style="width: 18rem;" 
    transfer-type="{{transfer.transfer_type}}"
     transfer-price="{{transfer.transfer_price}}"
     from-postal-code="{{transfer.search_params['from_postal_code']}}"
        to-postal-code="{{transfer.search_params['to_postal_code']}}"
        transfer-name="{{transferName}}"
     >
  <img class="card-img-top" src="{{transfer['transfer_details'].get('transfer_image')}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{transfer['transfer_details'].get('transfer_type')}}</h5>
    <p class="card-text">{{transfer['transfer_details'].get('transfer_description') or ''}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Pickup: {{transfer['search_params']['params']['from-location']}}</li>
    <li class="list-group-item">Dropoff: {{transfer['search_params']['params']['to-location']}}</li>
    <li class="list-group-item">Transfer Date: {{transfer['search_params']['params']['transfer-date']}}</li>
    <li class="list-group-item transfer-price" transfer-price="{{transfer['transfer_price']}}">Price: {{transfer['transfer_price']}}</li>
  </ul>
</div>
{%endmacro%}

{%macro vip_tour_card(tour, tour_id)%}
    <div class="card m-2 tour-card" style="width: 18rem;">
    {% if not tour %}
        <div class="p-3">{{tour_id}} price is not available</div>
    {%else%}
  <div class="card-body">
    <h5 class="card-title tour-item" tour-id="{{tour.get('tour_id')}}">{{tour.get('tour_name')}}</h5>
    <p class="card-text">{{tour.get('tour_description') or ''}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item tour-pickup" tour-pickup="{{tour['pickup']}}">Pickup: {{tour['pickup']}}</li>
    {# <li class="list-group-item">Tour Date: {{tour['tour_date']}}</li> #}
    <li class="list-group-item tour-price" tour-price="{{tour['tour_price']}}">Price: {{tour['tour_price']}}</li>
  </ul>
  {%endif%}
</div>
{%endmacro%}

{%macro package_tour_card(tourPackages)%}
{% if tourPackages|length > 0 %}
{% set  total   = [0] %}
{% for tour in tourPackages%}
    {% set _ = total.append(total.pop() + tour['package_price']) %}

{% endfor %}
{% set  totalPrice   = total[0] %}
 {% set tourPackage = tourPackages[0] %}
    {% if not totalPrice or totalPrice <= 0 %}

    {% else %}
    <div class="card m-2 tour-card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Tour Package</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item tour-pickup" tour-pickup="{{tourPackage['pickup']}}">Pickup: {{tourPackage['pickup']}}</li>
        {% for tour in tourPackage['tours'] %}
            <li class="list-group-item tour-item" tour-id="{{tour.get('tour_id')}}">{{tour['tour_name']}}</li>
        {% endfor %}
        <li class="list-group-item tour-price" tour-price="{{totalPrice}}">Total Price: {{totalPrice}}</li>
    </ul>
    </div>
  {%endif%}
{% endif %}
{%endmacro%}