body{
    background-color: #f1f6fa;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.tm-top-bar{
    background: rgb(135, 135, 135) !important;
}