{% extends "templates/website_base.html" %}

{% block page_content %}
<div></div>
<div class="row m-3">
    <div class="col">
        <div class="input-group date"> 
            <label class="m-2" for="from_date">{{_("From Date")}}</label>
            <input id="from_date" class="form-control date-picker" name="from_date" placeholder="{{_('From Date')}}" type="date" value="{{from_date}}">  
          </div>
    </div>
    <div class="col">
        <div class="input-group date"> 
            <label class="m-2" for="to_date">{{_("To Date")}}</label>
            <input id="to_date" class="form-control date-picker" name="to_date" placeholder="{{_('To Date')}}" type="date" value="{{to_date}}">  
            
          </div>
    </div>
</div>

   <table class="table table-striped">
        <thead>
            <th scope="col">#</th>
            <th scope="col">{{_('Date')}}</th>
            <th scope="col">{{_('Amount')}}</th>
            <th scope="col">{{_('Voucher')}}</th>
            <th scope="col">{{_('Remarks')}}</th>
        </thead>
        <tbody>
            {% set total_balance = [0] %}
            {% for gl_entry in transactions %}
            <tr>
                <th scope="row">{{loop.index}}</th>
            <td>{% if gl_entry.get('post_date') %} {{gl_entry.get('post_date')}} {% endif %}</td>
            {# <td>
                {% if gl_entry.get('account') in ["'Opening'", "'Closing (Opening + Total)'", "'Total'"] %} {{_(gl_entry.get('account').replace("'", ""))}} {% endif %}
                {% if gl_entry.get('voucher_type') %}{{gl_entry.get('voucher_type')}} {% endif %}
            </td>
            <td> {% if gl_entry.get('voucher_no') %}{{gl_entry.get('voucher_no')}} {% endif %}</td> #}
            <td>{{gl_entry.get('balance')}}</td>
            <td>{% if gl_entry.get('voucher_no')%}<a href="/reserve?invoice={{gl_entry.get('invoice_name')}}" target="_blank">{{gl_entry.get('voucher_no')}}</a> {% endif %}</td>
            {% set _ = total_balance.append(total_balance.pop() + gl_entry.get('balance', 0))%}
            <td>{% if gl_entry.get('remarks')%}{{gl_entry.get('remarks')}}{%endif%}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2"></td>
                <td>{{frappe.utils.fmt_money(total_balance[0])}}</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}