<html>
    <head>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .pdf-header{
            display: table-header-group;
        }
        .page-break {
            page-break-after: always;
        }
        thead {display: table-header-group; }
    </style>
    </head>
    <body>
    
        <table>
           <thead class="pdf-header">
            <tr><td><h1>Header</h1></td></tr>
           </thead>
            <tbody>
                <tr>
                    <td>
                    <table>
                        <tr>
                            <td>
                                asdas
                            </td>
                        </tr>
                    </table>
                <div class="page-break"></div>
                <table>
                    <tr>
                        <td>
                            asdas
                        </td>
                        <td>
                            asdas
                        </td>
                    </tr>
                    <tr>
                        <td>
                            asdas
                        </td>
                        <td>
                            asdas
                        </td>
                    </tr>
                </table>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </body>
</html>