.loading-progress{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 99999;
    top: 0;
    left: 0;
    display: none;
    background-color: white;
}
.loader {
border: 16px solid #f3f3f3; /* Light grey */
border-top: 16px solid var(--primary-color); /* Blue */
border-radius: 50%;
width: 120px;
height: 120px;
animation: spin 2s linear infinite;
}
.loader-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button.close{
    display: none;
}
.modal.fade{
    z-index: 20000 !important;
}
.hidden{
    display: none;
}
.panel-heading{
    border-radius: 5px;
    background-color: #312C6F;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}
i.tm-color-primary, i.tm-form-element-icon{
    color: #5c50c5;
}
.tm-btn-search{
    background-color: #F39717;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.1em;
    font-weight: bold;
}
.tm-btn-search:hover, .btn-primary:hover{
    background-color: #352D83;
    color: #fff;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.tm-btn-search:active, .btn-primary:active,
.tm-btn-search:focus, .btn-primary:focus{
    background-color: #F39717;
    color: #fff;
}
.btn-primary{
    background-color: #F39717;
    color: #fff;
    border: none;
    border-radius: 5px;   
}
.collapse-btn {
    position: absolute;
    right: -80px;
    bottom: 0;
    cursor: pointer;
    background-color: #F39717;
    color: #fff;
    
}
.collapse-btn:hover{
    background-color: #352D83;
    color: #fff;
}
.collapse-btn .material-symbols-rounded{
    font-weight: bold;
    font-size: 2em;
}
.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #352D83;
    border-color: #352D83 #352D83 #5c50c5;
}
.nav-tabs .nav-link{
    color: #222;
    padding: 1rem 1rem;
}
body{
    padding-bottom: 20px;
}
.nav-link.active, .nav-link:hover{
    background-color: #383383;
    color: #fff;
}
 .nav-link {
    font-weight: bold;
    font-size: 1.1em;
 }
 .checkbox-show{
    width: 18px;
    height: 18px;
    border-radius: 5px;
    border: 1px solid #383383;
    display: inline-block;
    margin: 0 5px;
 }

 .checkbox-show:hover{
    cursor: pointer;
    background-color: #5c50c5;
 }
 .checkbox-show[checked]{
    background-color: #383383;
 }
   .checkbox-show.disabled{
        background-color: #bbbbbb;
        border: 1px solid #bbbbbb;
 }
 .checkbox-show.disabled:hover{
        background-color: #bbbbbb;
        border: 1px solid #bbbbbb;
 }
 .btn-outline-primary{
    border: 1px solid #5c50c5;
    color: #5c50c5;
    font-weight: bold;
    font-size: 1.1em;
 }
 .tour-modal .modal-content{
    padding: 0 !important;
 }
 .tour-modal .modal-header{
    padding: 0 !important;
 }
 .tour-modal img {
    border-radius: 5px;
 }
 .tour-modal h5{
    text-align: center;
 }
 .float-end{
    float: inline-end
 }
    .btn-outline-primary:hover,
    .btn-outline-primary:focus{
        background-color: #5c50c5;
        color: #fff;
    }
 .card-primary-color{
    background-color: #383383;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
 }
 .card-primary-color a,
 .card-primary-color .btn-link{
    color: #fff;
 }
 .dropdown-item.active, .dropdown-item:active {
color: #fff;
text-decoration: none;
background-color: #5c50c5;
}
.btn-link{
    color: #5c50c5;
    font-weight: bold;
    font-size: 1.1em;
}
.btn-link:hover{
    color: #312C6F;
}
.border-card{
    border: 1px solid #383383;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}
 .room-image img{
    box-shadow: 0px 0px 4px 2px #ccc;
-webkit-box-shadow: 0px 0px 4px 2px #ccc;
-moz-box-shadow: 0px 0px 4px 2px #ccc;
 }
 .hotel-image img{
        box-shadow: 0px 0px 4px 2px #ccc;
        -webkit-box-shadow: 0px 0px 4px 2px #ccc;
        -moz-box-shadow: 0px 0px 4px 2px #ccc;
        border-radius: 5px;
 }

.right-dropdown{
    left: auto !important;
    right: 0 !important;
    max-height: 300px;
    overflow-y: auto;
}
 
 .tm-top-bar{
    height: auto;
    box-shadow: 6px 0px 8px rgba(0,0,0,0.5);
 }
.tm-top-bar .navbar-expand-lg .navbar-nav .nav-link {
padding: 25px;
}
.hotel-stars{
background-repeat: no-repeat;
background-size: cover;
height: 20px;
width: 100px;
}
div[star-rating="One Star"]{
background-image: url('/assets/tourism_portal/images/star-rating/1-star.png');
}
div[star-rating="Two-Star"]{
background-image: url('/assets/tourism_portal/images/star-rating/2-stars.png');
}
div[star-rating="Three-Star"]{
background-image: url('/assets/tourism_portal/images/star-rating/3-stars.png');
}
div[star-rating="Four-Star"]{
background-image: url('/assets/tourism_portal/images/star-rating/4-stars.png');
}
div[star-rating="Five-Star"]{
background-image: url('/assets/tourism_portal/images/star-rating/5-stars.png');
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.notification-subject{
    font-size: 0.8em;
}
.notification-content{
    font-size: 0.6em;
    padding: 0;
    margin: 0;
}

.red-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%; /* To create a circular shape */
}

#notificationsDropDown{
    position: relative;
}