<div class="children-template-container html-template">
    <div class="form-row tm-search-form-row align-items-center ml-4 children-search-card">
        <label class="child-label">Child 1</label>
        <div class="form-group tm-form-element tm-form-element-2">
            <select name="child-age" class="form-control tm-select">
                <option value="">Child Age</option>
                {% for opt in range(max_child_age)%}
                    <option value="{{opt + 1}}">{{opt + 1}}</option>
                {% endfor %}
            </select>
            <i class="fa fa-user tm-form-element-icon"></i>
        </div>
    </div>
</div>