<div class="children-template-container html-template">
    <div class="form-row tm-search-form-row align-items-center ml-4">
        <label class="child-label">Child 1</label>
        <div class="form-group tm-form-element tm-form-element-2">
            <select name="child-age" class="form-control tm-select">
                <option value="">Child Age</option>
                <option value="1">1</option>collapse
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
            </select>
            <i class="fa fa-user tm-form-element-icon"></i>
        </div>
    </div>
</div>