<div class="tm-top-bar" id="tm-top-bar">
    <!-- Top Navbar -->
    <div class="container">
        <div class="row">

            <nav class="navbar navbar-expand-lg narbar-light">
                <a class="navbar-brand mr-auto" href="/">
                    {{get_site_logo()}}
                </a>
                <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse"
                    data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Home</a>
                        </li>
                        {% if frappe.session.user != 'Guest' %}
                        <li class="nav-item">
                            <a class="nav-link" href="/invoices">My Bookings</a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             My Account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            
                            <a class="dropdown-item">Balance: <strong>{{frappe.utils.fmt_money(get_customer_balance())}}</strong></a>
                            <div class="dropdown-divider"></div>
                            {% if user_has_desk_access() %}
                            <a class="dropdown-item" href="/app">Switch to Desk</a>
                            {% endif %}
                            <a class="dropdown-item" href="/account/statement">Statement of Account</a>
                            {% if can_add_user() %}
                            <a class="dropdown-item" href="/account/users">Users</a>
                            {% endif %}
                            {% if user_has_subagency() %}
                            <a class="dropdown-item" href="/account/agencies">Subagencies</a>
                            <a class="dropdown-item" href="/account/agency_account">Subagency Account</a>
                            {% endif %}
                            {% if has_user_tariff() %}
                                <a class="dropdown-item" href="/tariffs">Tariffs</a>
                            {% endif %}
                            <a class="dropdown-item" href="/account/settings">Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/?cmd=web_logout">Log Out</a>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>