<div class="tm-top-bar" id="tm-top-bar">
    <!-- Top Navbar -->
    <div class="container">
        <div class="row">

            <nav class="navbar navbar-expand-lg narbar-light">
                <a class="navbar-brand mr-auto" href="#">
                    {{get_site_logo()}}
                </a>
                <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse"
                    data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/invoices">Vouchers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Transactions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">My Account</a>
                        </li>
                        {% if frappe.session.user != 'Guest' %}
                        <li class="nav-item">
                            <span class="nav-link">Balance: <strong>{{frappe.utils.fmt_money(get_customer_balance())}}</strong></span>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>