<!-- Tour Info Modal -->

<div id="tourInfoModal" class="modal fade tour-modal">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                {# <div class="icon-box">
                    
                </div>
                 #}
            </div>
            <div class="modal-body">
                <h4 class="tour-title w-100"></h4>
                <p class="tour-body"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>