<div class=" tm-bg-white ie-container-width-fix-2 search-card-container transfer-search-card" card-type="transfer">
    <input type="hidden" name="transfer-card" value="1">
    <div class="row justify-content-end mb-2">
                    <button class="btn btn-primary route-btn" data-way="one-way" onclick="onWayTransfer(this)"><i class="fa fa-exchange" aria-hidden="true"></i> One Way</button>
                </div>
    <div class="row">
        <div class="col-xs-12 ml-auto mr-auto ie-container-width-fix search-card transfers">
            <div class="transfer-search-row departure-transfer" transfer-way="departure">
                <form class="tm-search-form tm-section-pad-2">
                    <div class="form-row tm-search-form-row">
                        <div class="form-group tm-form-element tm-form-element-2">
                            <i class="fa fa-map-marker fa-2x tm-form-element-icon tm-color-primary"></i>
                            <input name="pickup" autocomplete="off" type="text" class="form-control transfer-pickup-1"
                                onchange="pickupTransferChanged(this)" placeholder="Pick up" />

                        </div>
                        <div class="form-group tm-form-element tm-form-element-2">
                            <i class="fa fa-map-marker fa-2x tm-form-element-icon  tm-color-primary"></i>
                            <input name="dropoff" autocomplete="off" type="text" class="form-control transfer-dropoff-1"
                                onfocusout="dropoffTransferChanged(this)" placeholder="Drop off" />
                        </div>

                         <div class="form-group tm-form-element tm-form-element-2">
                            <select name="transfer-type" onchange="transferTypeChanged(this)"
                                class="form-control tm-select room-select">
                                <option value="">Transfer Type</option>
                                <option value="vip">VIP</option>
                                <option value="group">Group</option>
                            </select>
                            <i class="fa fa-2x fa-bus tm-form-element-icon"></i>
                        </div>
                        
                    </div>
                    <div class="form-row tm-search-form-row">
                        
                       <div class="form-group tm-form-element tm-form-element-2">
                            <i class="fa fa-calendar fa-2x tm-form-element-icon"></i>
                            <input name="check-in" type="text" class="form-control date-picker"
                                onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Transfer Date">
                        </div>
                        

                        <div class="form-group tm-form-element tm-form-element-2">
                                <input type="text" class="form-control" name="flight-no" placeholder="Fligh No#">
                                <i class="fa fa-2x fa-user tm-form-element-icon"></i>
                            </div>
                            <div class="form-group tm-form-element tm-form-element-2 allowed-flights">
                                <strong>Allowed Flights</strong>
                                <ul class="allowed-flights-list">
                                </ul>
                            </div>
                    </div>
                    <div class="form-row tm-search-form-row">
                        <div class="form-row tm-search-form-row">
                            <div class="form-group tm-form-element tm-form-element-2">
                                <select name="adult" class="form-control tm-select">
                                    <option value="">Adult</option>
                                    {% for opt in range(max_adults_per_transfer)%}
                                    <option value="{{opt + 1}}">{{opt + 1}}</option>
                                    {% endfor %}
                                </select>
                                <i class="fa fa-2x fa-user tm-form-element-icon"></i>
                            </div>
                            <div class="form-group tm-form-element tm-form-element-2">
                                <select onchange="childCountChanged(this)" name="children"
                                    class="form-control tm-select">
                                    <option value="">Children</option>
                                    <option value="0">0</option>
                                    {% for opt in range(max_children_per_transfer)%}
                                    <option value="{{opt + 1}}">{{opt + 1}}</option>
                                    {% endfor %}
                                </select>
                                <i class="fa fa-user tm-form-element-icon tm-form-element-icon-small"></i>
                            </div>

                            <div class="children-container">

                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="transfer-search-row return-transfer" transfer-way="return">
                <form class="tm-search-form tm-section-pad-2">
                    <div class="form-row tm-search-form-row">
                        <div class="form-group tm-form-element tm-form-element-2">
                            <i class="fa fa-map-marker fa-2x tm-form-element-icon tm-color-primary"></i>
                            <input name="pickup" autocomplete="off" type="text" class="form-control transfer-pickup-2"
                                onfocusout="pickupTransferChanged(this)" placeholder="Pick up" />

                        </div>
                        <div class="form-group tm-form-element tm-form-element-2">
                            <i class="fa fa-map-marker fa-2x tm-form-element-icon  tm-color-primary"></i>
                            <input name="dropoff" autocomplete="off" type="text" class="form-control transfer-dropoff-2"
                                onfocusout="dropoffTransferChanged(this)" placeholder="Drop off" />
                        </div>
                        <div class="form-group tm-form-element tm-form-element-2">
                            <select name="transfer-type" onchange="transferTypeChanged(this)"
                                class="form-control tm-select room-select">
                                <option value="">Transfer Type</option>
                                <option value="vip">VIP</option>
                                <option value="group">Group</option>
                            </select>
                            <i class="fa fa-2x fa-bus tm-form-element-icon"></i>
                        </div>
                    </div>
                    <div class="form-row tm-search-form-row">
                        <div class="form-group tm-form-element tm-form-element-2">
                            <i class="fa fa-calendar fa-2x tm-form-element-icon"></i>
                            <input name="check-in" type="text" class="form-control date-picker"
                                onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Transfer Date">
                        </div>
                        
                        <div class="form-group tm-form-element tm-form-element-2">
                                <input type="text" class="form-control" name="flight-no" placeholder="Fligh No#">
                                <i class="fa fa-2x fa-user tm-form-element-icon"></i>
                            </div>
                        <div class="form-group tm-form-element tm-form-element-2 allowed-flights">
                            <strong>Allowed Flights</strong>
                            <ul class="allowed-flights-list">
                            </ul>
                        </div>
                    </div>
                    <div class="form-row tm-search-form-row">
                        <div class="form-row tm-search-form-row align-items-center ml-1">
                            <div class="form-group tm-form-element tm-form-element-2">
                                <select name="adult" class="form-control tm-select">
                                    <option value="">Adult</option>
                                    {% for opt in range(max_adults_per_transfer)%}
                                    <option value="{{opt + 1}}">{{opt + 1}}</option>
                                    {% endfor %}
                                </select>
                                <i class="fa fa-2x fa-user tm-form-element-icon"></i>
                            </div>
                            <div class="form-group tm-form-element tm-form-element-2">
                                <select onchange="childCountChanged(this)" name="children"
                                    class="form-control tm-select">
                                    <option value="">Children</option>
                                    <option value="0">0</option>
                                    {% for opt in range(max_children_per_transfer)%}
                                    <option value="{{opt + 1}}">{{opt + 1}}</option>
                                    {% endfor %}
                                </select>
                                <i class="fa fa-user tm-form-element-icon tm-form-element-icon-small"></i>
                            </div>

                            <div class="children-container">

                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>