{% extends "templates/website_base.html" %}

{% block page_content %}
  
    <div class="tm-section tm-bg-img" >
        <div class="voucher-search">
            {% include "templates/includes/hotel_search_template.html" %}
            <div class="transfer-search-container">

            </div>
            <div class="search-button">
                <div class="search-button-continer">
                    <button onclick="searchBtnClicked(this)" class="btn btn-primary tm-btn-search">Search For Availability</button>
                </div>
            </div>
        </div>
    </div>
    
    {% include "templates/includes/transfer_search_template.html" %}
    {% include "templates/includes/pax_template_container.html" %}
    {% include "templates/includes/children_template_container.html" %}
    {% endblock %}