{% extends "templates/theme2/website_base.html" %}

{% block page_content %}
<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" style="background-image: url(/assets/tourism_portal/theme2/images/contact_background.jpg);" data-image-src="/assets/tourism_portal/theme2/images/contact_background.jpg"></div>
		<div class="home_content">
			<div class="home_title">contact</div>
		</div>
	</div>

	<!-- Contact -->

	<div class="contact_form_section">
		<div class="container">
			<div class="row">
				<div class="col">

					<!-- Contact Form -->
					<div class="contact_form_container">
						<div class="contact_title text-center">get in touch</div>
						<form action="" id="contact_form" class="contact_form">
                            <input type="text" id="contact_form_name" class="contact_form_name input_field" placeholder="Name"
                            required="required" data-error="Name is required." />
                            <input type="text" id="contact_form_email" class="contact_form_email input_field" placeholder="E-mail"
                            required="required" data-error="Email is required." />
                            <input type="text" id="contact_form_subject" class="contact_form_subject input_field"
                            placeholder="Subject" required="required" data-error="Subject is required." />
                            <textarea id="contact_form_message" class="text_field contact_form_message" name="message" rows="4"
                            placeholder="Message" required="required" data-error="Please, write us a message."></textarea>
                            <button type="button" onclick="submit_contact_form(this)" id="form_submit_button" class="form_submit_button button">
                            send message<span></span><span></span><span></span>
                            </button>
                        </form>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- About -->
	<div class="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="about_content">
						<div class="logo_container " >
							<div class="logo" style="width: 250px;"><a href="#"><img src="{{settings.website_logo}}" style="width: 250px;" alt="">{{settings.company_description}}</a></div>
						</div>
						<p class="about_text">
                        
                        </p>
						
					</div>

		
				</div>

				<div class="col-lg-2">
					
					<!-- About - Content -->
                    
					
				</div>

				<div class="col-lg-5">
					
					<!-- About Info -->

					<div class="about_info">
						<ul class="contact_info_list">
							<li class="contact_info_item d-flex flex-row">
								<div><div class="contact_info_icon"><img src="/assets/tourism_portal/theme2/images/placeholder.svg" alt=""></div></div>
								<div class="contact_info_text">{{settings.address}}</div>
							</li>
							<li class="contact_info_item d-flex flex-row">
								<div><div class="contact_info_icon"><img src="/assets/tourism_portal/theme2/images/phone-call.svg" alt=""></div></div>
								<div class="contact_info_text">{{settings.phone_number}}</div>
							</li>
							<li class="contact_info_item d-flex flex-row">
								<div><div class="contact_info_icon"><img src="/assets/tourism_portal/theme2/images/message.svg" alt=""></div></div>
								<div class="contact_info_text"><a href="mailto:{{settings.email}}?Subject=Hello" target="_top">{{settings.email}}</a></div>
							</li>
						</ul>
                        <ul class="about_social_list">
							<li class="about_social_item"><a href="{{settings.instagram}}"><i class="fa fa-instagram"></i></a></li>
							<li class="about_social_item"><a href="{{settings.facebook}}"><i class="fa fa-facebook-f"></i></a></li>
							<li class="about_social_item"><a href="{{settings.twitter}}"><i class="fa fa-twitter"></i></a></li>
							<li class="about_social_item"><a href="{{settings.linkedin}}"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>

				</div>

			</div>
		</div>
	</div>
{% endblock %}