{% extends "templates/website_base.html" %}


{% block page_content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />

<div class="container">

            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="career-search mb-60">

                        {# <form action="#" class="career-form mb-60">
                            <div class="row">
                                <div class="col-md-6 col-lg-3 my-3">
                                    <div class="input-group position-relative">
                                        <input type="text" class="form-control" placeholder="Enter Your Keywords" id="keywords">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 my-3">
                                    <div class="select-container">
                                        <select class="custom-select">
                                            <option selected="">Location</option>
                                            <option value="1">Jaipur</option>
                                            <option value="2">Pune</option>
                                            <option value="3">Bangalore</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 my-3">
                                    <div class="select-container">
                                        <select class="custom-select">
                                            <option selected="">Select Job Type</option>
                                            <option value="1">Ui designer</option>
                                            <option value="2">JS developer</option>
                                            <option value="3">Web developer</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 my-3">
                                    <button type="button" class="btn btn-lg btn-block btn-light btn-custom" id="contact-submit">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form> #}

                        <div class="filter-result">
                        {% if tariffs|length > 0 %}
                        {%for trf in tariffs %}
                            <div class="job-box d-md-flex align-items-center justify-content-between m-3">
                                <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                                    <div class="job-content">
                                        <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                            <li class="mr-md-4">
                                                <i class="zmdi zmdi-time mr-2"></i> {{trf.tariff.tariff_from_date}} - {{trf.tariff.tariff_to_date}}
                                            </li>
                                            <li class="mr-md-4">
                                                <i class="fa fa-map-marker mr-2"></i> {{trf.city}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="job-right my-4 flex-shrink-0">
                                    <a target="_blank" href="/api/method/tourism_portal.api.pdf.view_turf?turf={{trf.tariff.name}}" class="btn d-block w-100 d-sm-inline-block m-1 btn-light">View</a>
                                    <a target="_blank" href="/api/method/tourism_portal.api.pdf.download_turf?turf={{trf.tariff.name}}" class="btn d-block w-100 d-sm-inline-block m-1 btn-success">Download</a>
                                </div>
                            </div>
                        {%endfor%}
                        {% else %}
                        <div class="alert alert-info mt-4" role="alert">No results found</div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
{% endblock %}